# Snyk test report

{{ len .Vulnerabilities }} known vulnerabilities | {{ .DependencyCount }} dependencies
{{ with .Vulnerabilities }} {{ range .}}
## ({{.Severity}} severity) {{ .Title }}

* Package Manager: {{ .PackageManager }}
* Vulnerable Module: {{ .ModuleName }}
* Introduced through: {{if gt (len .From) 2}} {{ index .From 0 }}, {{ index .From 1}} and others {{else}} {{ .From }} {{end}}

### Detailed paths

* Introduced through: {{ .From }}

{{ .Description }}

[More about this vulnerability](https://snyk.io/vuln/{{.Id}})
{{ end }} {{ end }}